#tv-radio {
    width: 900px;
    height: 580px;
    background: url(../_imagens/radio-tv.png) no-repeat;
}

#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 488px;
    width: 300px;
}

#filme {
    display: block;
    position: relative;
    left: 87px;
    top: 65px;
    width: 440px;
}